<div class="cont" id="about">
  <div class="cont__div">
    <h1 class="title">Sobre Mí</h1>
    <div class="about">
      <h2>Isaac Anco</h2>
      <h3>Desarrolador full stack developer</h3>
      <p>
        Soy desarrollador full stack con especialización.
        en frontend. Me apasiona crear interfaces web atractivas, intuitivas y de alto rendimiento, para ofrecer
        experiencias de usuario excepcionales.
        Con habilidades sólidas en tecnologías como React.Js, Angular, JavaScript/TypeScript y CSS moderno (Tailwind),
        me enfoco en desarrollar aplicaciones web responsivas, accesibles y visualmente impactantes. Además,
        mi experiencia en backend como Node.js,
        Python, Java, bases de datos
      </p>
    </div>
  </div>
</div>
