<div class="projects-section" #projectsContainer id="projects">
  <h2 class="section-title">Mis Proyectos Destacados</h2>

  <div class="filter-buttons">
    <button class="filter-btn active" data-filter="all">Todos</button>
    <button class="filter-btn" data-filter="angular">Angular</button>
    <button class="filter-btn" data-filter="react">React</button>
    <button class="filter-btn" data-filter="java">Spring Boot</button>
    <button class="filter-btn" data-filter="nestjs">Nestjs</button>
  </div>


  <div class="projects-grid">

    <div class="project-card" data-tech="React java">
      <div class="project-image">
        <img src="assets/quotes.png" alt="Quotes">
        <div class="project-links">
          <a href="#" class="demo-link">Demo</a>
          <a href="#" class="code-link">Código</a>
        </div>
      </div>
      <div class="project-info">
        <h3>Quotes</h3>
        <p>
          Desarrollar un módulo integral para la gestión de cotizaciones, con capacidad para visualizar disponibilidad
          de productos en almacenes de proveedores, editar órdenes de venta y generar documentos en PDF.
          Consulta en tiempo real la disponibilidad de productos.
        </p>
        <div class="project-tech">
          <span>React</span>
          <span>Java</span>
        </div>
      </div>
    </div>

    <div class="project-card" data-tech="react java">
      <div class="project-image">
        <img src="assets/project2.jpg" alt="Sistema de gestion de activos ">
        <div class="project-links">
          <a href="#" class="demo-link">Demo</a>
          <a href="#" class="code-link">Código</a>
        </div>
      </div>
      <div class="project-info">
        <h3>Sistema de gestion de activos y consumibles</h3>
        <p>
          Proyecto para agregar consumibles y activos fijos, filtros por marca, modelo, dashboard interactivo para saber
          cuántas entradas, salidas y devoluciones se hicieron.
        </p>
        <div class="project-tech">
          <span>React</span>
          <span>Java</span>
        </div>
      </div>
    </div>

    <div class="project-card" data-tech="react nestjs">
      <div class="project-image">
        <img src="assets/chess.png" alt="chess project">
        <div class="project-links">
          <a href="https://www.youtube.com/watch?v=3cptul3gtSw" target="_blank" class="demo-link">Demo</a>
          <a href="https://github.com/AncoIsaac/chess-front" target="_blank" class="code-link">Código</a>
        </div>
      </div>
      <div class="project-info">
        <h3>chess</h3>
        <p>Pagina web para jugar ajedrez con socketIO para poder jugar con otra persona y se guardar las partidas y
          movimientos que se hicieron
        </p>
        <div class="project-tech">
          <span>React</span>
          <span>TypeScript</span>
          <span>Nestjs</span>
        </div>
      </div>
    </div>
  </div>
</div>
