<section class="profile-container">
  <div class="profile-header">
    <img src=".../../assets/perfil1.jpg" alt="Foto de perfil" class="profile-image">
    <p class="availability-badge">Disponible para trabajar</p>
  </div>

  <div class="profile-content">
    <h1 class="profile-title">Hola, soy Isaac Anco</h1>
    <p class="profile-description">
      Desarrollador Full Stack developer con 3 años de experiencia especializado en Frontend. Apasionado por crear
      interfaces web
      atractivas, intuitivas y de alto rendimiento.
    </p>
  </div>

  <div class="profile-actions">
    <a class="btn" href="">
      Contáctame
    </a>
    <a class="btn" href="https://github.com/AncoIsaac" target="_blank">GitHub</a>
  </div>
</section>
